### The purpose of this notebook is to complete a data cleaning workflow from start to finish in order to validate the core functionality our package

In [16]:
# imports

import pandas as pd
from core import *
from create_cpd_info import *
from cpd_inform import *
from mol_sim import *
# import gzip
# 
# from Bio.KEGG import REST
# from Bio.KEGG import Enzyme
# import re
# from Bio.KEGG import Compound
# import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
!ls

KEGG_data_puller.py
__pycache__
code_cleaning_tests.ipynb
core.py
cpd_inform.py
create_cpd_info.py
datacleaning.py
generate_kegg_compound_master_list.ipynb
kegg_data.py
mol_sim.py
pubchem_client.py
test_cpd_inform.py
test_create_cpd_info.py
test_kegg_data.py
test_mol_sim.py
test_pubchem_client.py

## Step 1
#### Generate dataframe of all current kegg enzymes from zipped text file

In [18]:
# create_kegg_df()

enzyme_df = create_kegg_df('../datasets/KEGG_enzymes_all_data.gz', 'enzyme')
print(enzyme_df.shape)
enzyme_df.head()

(7524, 16)

,classname,cofactor,comment,dblinks,disease,effector,entry,genes,inhibitor,name,pathway,product,reaction,structures,substrate,sysname
0,"[Oxidoreductases;, Acting on the CH-OH group o...",[],[A zinc protein. Acts on primary or secondary ...,"[(ExplorEnz - The Enzyme Database, [1.1.1.1]),...",[],[],1.1.1.1,"[(HSA, [124, 125, 126, 127, 128, 130, 131]), (...",[],"[alcohol dehydrogenase, aldehyde reductase, AD...","[(PATH, ec00010, Glycolysis / Gluconeogenesis)...","[aldehyde [CPD:C00071], NADH [CPD:C00004], H+ ...",[(1) a primary alcohol + NAD+ = an aldehyde + ...,[],"[primary alcohol [CPD:C00226], NAD+ [CPD:C0000...",[alcohol:NAD+ oxidoreductase]
1,"[Oxidoreductases;, Acting on the CH-OH group o...",[],[A zinc protein. Some members of this group ox...,"[(ExplorEnz - The Enzyme Database, [1.1.1.2]),...",[],[],1.1.1.2,"[(HSA, [10327]), (PTR, [741418]), (PPS, [10099...",[],"[alcohol dehydrogenase (NADP+), aldehyde reduc...","[(PATH, ec00010, Glycolysis / Gluconeogenesis)...","[aldehyde [CPD:C00071], NADPH [CPD:C00005], H+...",[an alcohol + NADP+ = an aldehyde + NADPH + H+...,[],"[alcohol [CPD:C00069], NADP+ [CPD:C00006]]",[alcohol:NADP+ oxidoreductase]
2,"[Oxidoreductases;, Acting on the CH-OH group o...",[],[The yeast enzyme acts most rapidly with NAD+;...,"[(ExplorEnz - The Enzyme Database, [1.1.1.3]),...",[],[],1.1.1.3,"[(NVE, [NEMVE_v1g225948]), (ATH, [AT1G31230, A...",[],"[homoserine dehydrogenase, HSDH, HSD]","[(PATH, ec00260, Glycine, serine and threonine...","[L-aspartate 4-semialdehyde [CPD:C00441], NADH...",[L-homoserine + NAD(P)+ = L-aspartate 4-semial...,[],"[L-homoserine [CPD:C00263], NAD+ [CPD:C00003],...",[L-homoserine:NAD(P)+ oxidoreductase]
3,"[Oxidoreductases;, Acting on the CH-OH group o...",[],[Also converts diacetyl into acetoin with NADH...,"[(ExplorEnz - The Enzyme Database, [1.1.1.4]),...",[],[],1.1.1.4,"[(SCE, [YAL060W, YAL061W]), (KLA, [KLLA0_F0050...",[],"[(R,R)-butanediol dehydrogenase, butyleneglyco...","[(PATH, ec00650, Butanoate metabolism)]","[(R)-acetoin [CPD:C00810], NADH [CPD:C00004], ...","[(R,R)-butane-2,3-diol + NAD+ = (R)-acetoin + ...",[],"[(R,R)-butane-2,3-diol [CPD:C03044], NAD+ [CPD...","[(R,R)-butane-2,3-diol:NAD+ oxidoreductase]"
4,"[Oxidoreductases;, Acting on the CH-OH group o...",[],[Transferred entry: acetoin dehydrogenase. Now...,[],[],[],1.1.1.5,[],[],[Transferred to 1.1.1.303 and 1.1.1.304],[],[],[],[],[],[]

## Step 2
#### Down select promiscuous enzymes from master enzyme dataframe

In [19]:
# select_promiscuous_enzymes()

prom_df = select_promiscuous_enzymes(enzyme_df)
print(prom_df.shape)
prom_df.head()

(549, 4)

,entry,reaction,product,substrate
0,1.1.1.1,[(1) a primary alcohol + NAD+ = an aldehyde + ...,"[aldehyde [CPD:C00071], NADH [CPD:C00004], H+ ...","[primary alcohol [CPD:C00226], NAD+ [CPD:C0000..."
37,1.1.1.38,[(1) (S)-malate + NAD+ = pyruvate + CO2 + NADH...,"[pyruvate [CPD:C00022], CO2 [CPD:C00011], NADH...","[(S)-malate [CPD:C00149], NAD+ [CPD:C00003], o..."
39,1.1.1.40,[(1) (S)-malate + NADP+ = pyruvate + CO2 + NAD...,"[pyruvate [CPD:C00022], CO2 [CPD:C00011], NADP...","[(S)-malate [CPD:C00149], NADP+ [CPD:C00006], ..."
41,1.1.1.42,[isocitrate + NADP+ = 2-oxoglutarate + CO2 + N...,"[2-oxoglutarate [CPD:C00026], CO2 [CPD:C00011]...","[isocitrate [CPD:C00311], NADP+ [CPD:C00006], ..."
84,1.1.1.85,"[(2R,3S)-3-isopropylmalate + NAD+ = 4-methyl-2...","[4-methyl-2-oxopentanoate [CPD:C00233], CO2 [C...","[(2R,3S)-3-isopropylmalate [CPD:C04411], NAD+ ..."

## Step 3
#### Combine substrates and products to account for reversible reactions

In [20]:
# combine_substrates_products()
    
combo_df = combine_substrates_products(prom_df)
print(combo_df.shape)
combo_df.head()

(549, 2)

      entry                                            product
0   1.1.1.1  [aldehyde [CPD:C00071], NADH [CPD:C00004], H+ ...
1  1.1.1.38  [pyruvate [CPD:C00022], CO2 [CPD:C00011], NADH...
2  1.1.1.40  [pyruvate [CPD:C00022], CO2 [CPD:C00011], NADP...
3  1.1.1.42  [2-oxoglutarate [CPD:C00026], CO2 [CPD:C00011]...
4  1.1.1.85  [4-methyl-2-oxopentanoate [CPD:C00233], CO2 [C...

## Step 4

#### Expand dataframe so that each row is a unique enzyme-product pair
There are multiple compounds in the 'product' field of the dataframe. This function parses each of those, and for each provides a new enzyme-product pair.

In [21]:
# explode_dataframe()

exploded_df = explode_dataframe(combo_df, parse_compound_ids, 'product', ['entry'])
print(exploded_df.shape)
exploded_df.head()

(3697, 2)

     entry product
0  1.1.1.1  C00071
1  1.1.1.1  C00004
2  1.1.1.1  C00080
3  1.1.1.1  C01450
4  1.1.1.1  C00226

## Step 5
#### Remove cofactors from dataframe
We have curated a list of 37 common cofactors and reactant molecules that participate in reactions, but are not products that we care to train our model on. These steps removes cofactor data from our master dataset.

In [22]:
# remove_cofactors()

cofactors_df = pd.read_csv('../datasets/cofactor_list.csv')
clean_df = remove_cofactors(exploded_df, 'product', cofactors_df, 'CPD')
print(clean_df.shape)
clean_df.head()

(2144, 2)

      entry product
0   1.1.1.1  C00071
3   1.1.1.1  C01450
4   1.1.1.1  C00226
6   1.1.1.1  C01612
7  1.1.1.38  C00022

## Step 6
#### Get SMILES strings for each product from the PubChem database
The RDKit chemistry package requires SMILES strings as an input. The Kegg database does not store SMILES strings for compounds. This step joins a previously curated dataset of SMILES strings into our master dataset

In [23]:
smiles_df = pd.read_csv('../datasets/df_cleaned_kegg_with_smiles.csv')
smiles_df = smiles_df.drop_duplicates(subset='SMILES')
master_df = pd.merge(clean_df, smiles_df, how='inner', left_on='product', right_on='KEGG')
master_df = master_df.drop(columns=['Unnamed: 0', 'entry_y', 'KEGG', 'CID'])
master_df = master_df[master_df['SMILES'] != 'none']
master_df = master_df.rename(columns={'entry_x': 'kegg_enzyme', 'product': 'kegg_compound', 
                                      'PubChem': 'pubchem_compound'})
master_df = master_df.reset_index(drop=True)
print(master_df.shape)
master_df.head()

(1707, 4)

  kegg_enzyme kegg_compound  pubchem_compound        SMILES
0    1.1.1.38        C00022              3324  CC(=O)C(=O)O
1    1.1.1.40        C00022              3324  CC(=O)C(=O)O
2    1.2.3.15        C00022              3324  CC(=O)C(=O)O
3  1.14.11.43        C00022              3324  CC(=O)C(=O)O
4  1.14.11.44        C00022              3324  CC(=O)C(=O)O

## Step 7 
#### Get dummy variables to represent enzyme class

In [24]:
# binarize_enzyme_class()

master_df = binarize_enzyme_class(master_df, 'kegg_enzyme')
print(master_df.shape)
master_df.head()

(1707, 11)

,kegg_enzyme,kegg_compound,pubchem_compound,SMILES,enzyme_class_1,enzyme_class_2,enzyme_class_3,enzyme_class_4,enzyme_class_5,enzyme_class_6,enzyme_class_7
0,1.1.1.38,C00022,3324,CC(=O)C(=O)O,1,0,0,0,0,0,0
1,1.1.1.40,C00022,3324,CC(=O)C(=O)O,1,0,0,0,0,0,0
2,1.2.3.15,C00022,3324,CC(=O)C(=O)O,1,0,0,0,0,0,0
3,1.14.11.43,C00022,3324,CC(=O)C(=O)O,1,0,0,0,0,0,0
4,1.14.11.44,C00022,3324,CC(=O)C(=O)O,1,0,0,0,0,0,0

## Step 8 

#### Pre-process negative and positive datasets to remove rows with only 1 enzyme

In [25]:
# def remove_single_cpd_rows(dataframe, enzyme_col, smiles_col):
#     """
#     remove_single_cpd_rows() is meant to be a pre-processing function prior to passing a dataframe to the
#         calculate_dist() function
        
#     Args:
#         dataframe (pandas.Dataframe): input dataset
#         enzyme_col (str): name for column that contains kegg enzyme ids
#         smiles_col (str): name for column that contains smiles string
    
#     Returns:
#         pandas.Dataframe: output dataframe with rows removed in which there was only one product paired with 
#             the enzyme entry, enzyme_col renamed 'entry', and smiles_col renamed 'SMILES'
#     """
#     dataframe = dataframe.rename(columns={enzyme_col:'entry', smiles_col:'SMILES'})
#     counts_df = dataframe.groupby('entry').count()
#     singles_df = counts_df[counts_df['SMILES'] == 1]
#     singles = singles_df.index.tolist()
#     bool_mask = [False if row['entry'] in singles else True for _, row in dataframe.iterrows()]
#     clean_df = dataframe[bool_mask]
#     return clean_df

In [26]:
# remove_single_cpd_rows()

master_df = remove_single_cpd_rows(master_df, 'kegg_enzyme', 'SMILES')
print(master_df.shape)
master_df.head()

(1660, 11)

,entry,kegg_compound,pubchem_compound,SMILES,enzyme_class_1,enzyme_class_2,enzyme_class_3,enzyme_class_4,enzyme_class_5,enzyme_class_6,enzyme_class_7
0,1.1.1.38,C00022,3324,CC(=O)C(=O)O,1,0,0,0,0,0,0
1,1.1.1.40,C00022,3324,CC(=O)C(=O)O,1,0,0,0,0,0,0
2,1.2.3.15,C00022,3324,CC(=O)C(=O)O,1,0,0,0,0,0,0
3,1.14.11.43,C00022,3324,CC(=O)C(=O)O,1,0,0,0,0,0,0
4,1.14.11.44,C00022,3324,CC(=O)C(=O)O,1,0,0,0,0,0,0

In [27]:
# counts_df = master_df.groupby('entry').count()
# singles_df = counts_df[counts_df['kegg_compound'] == 1]
# singles = singles_df.index.tolist()
# print(singles)

In [28]:
# bool_mask = [False if row['entry'] in singles else True for _, row in master_df.iterrows()]
# clean_master_df = master_df[bool_mask]
# print(clean_master_df.shape)
# clean_master_df.head()

## Step 9
#### Calculate molecular distances between products of the same enzyme

In [29]:
# calculate_dist()

dist_master_df = calculate_dist(master_df)
print(dist_master_df.shape)
dist_master_df.head()

(1660, 14)

,entry,kegg_compound,pubchem_compound,SMILES,enzyme_class_1,enzyme_class_2,Mol,Fingerprint,enzyme_class_3,enzyme_class_4,enzyme_class_5,enzyme_class_6,enzyme_class_7,Dist
1074,2.1.1.340,C08304,10502,CN(C)CC1=CNC2=CC=CC=C21,0,1,<rdkit.Chem.rdchem.Mol object at 0x1abb416990>,"[1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, ...",0,0,0,0,0,0.918127
1075,2.1.1.340,C21602,340125660,CNCC1=CNC2=CC=CC=C21,0,1,<rdkit.Chem.rdchem.Mol object at 0x1abb416a30>,"[1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, ...",0,0,0,0,0,0.918127
1076,2.1.1.340,C21601,340125659,C1=CC=C2C(=C1)C(=CN2)CN,0,1,<rdkit.Chem.rdchem.Mol object at 0x1abb416ad0>,"[1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, ...",0,0,0,0,0,0.918127
422,1.13.11.18,C00094,3394,OS(=O)O,1,0,<rdkit.Chem.rdchem.Mol object at 0x10c057d00>,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,0,0,0,0,0.511007
456,1.13.11.18,C00051,3353,C(CC(=O)N[C@@H](CS)C(=O)NCC(=O)O)[C@@H](C(=O)O)N,1,0,<rdkit.Chem.rdchem.Mol object at 0x10c059670>,"[0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, ...",0,0,0,0,0,0.511007

## Step 8
#### Curate negative dataset
So far our curated dataset includes only examples of enzyme-product pairs that are known to react. In order to train our model, we need to include negative examples of enzyme-product pairs not expected to react. This function artifically pairs enzymes and products that are not known to react, and selects a subsample of these negative pairs to include in the master dataset

In [ ]:
# create_negative_matches() - good to go

pos_df, neg_df = create_negative_matches(clean_df, 'entry', 'product')

In [ ]:
pos_df.shape

In [ ]:
neg_df.shape

In [ ]:
# concatenate negative & positive data

master_df = pd.concat((pos_df, neg_df), axis=0)

In [ ]:
master_df.shape

In [30]:
sample = dist_master_df.sample(frac=0.1)

In [33]:
sample.head()

,entry,kegg_compound,pubchem_compound,SMILES,enzyme_class_1,enzyme_class_2,Mol,Fingerprint,enzyme_class_3,enzyme_class_4,enzyme_class_5,enzyme_class_6,enzyme_class_7,Dist
952,1.17.9.1,C01468,4643,CC1=CC=C(C=C1)O,1,0,<rdkit.Chem.rdchem.Mol object at 0x1abb411b70>,"[0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, ...",0,0,0,0,0,0.759638
1327,3.6.1.65,C00239,3538,C1[C@@H]([C@H](O[C@H]1N2C=CC(=NC2=O)N)COP(=O)(...,0,0,<rdkit.Chem.rdchem.Mol object at 0x1abb4203f0>,"[1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, ...",1,0,0,0,0,0.855865
1091,2.1.1.349,C21956,376218989,C1=NC2=C(NC(=O)NC2=O)N=N1,0,1,<rdkit.Chem.rdchem.Mol object at 0x1abb417490>,"[1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, ...",0,0,0,0,0,0.528711
1055,2.1.1.316,C21164,313369424,CC1=C(C2=C([C@@H]([C@@]3(N2C[C@H]4[C@@H]3N4)O)...,0,1,<rdkit.Chem.rdchem.Mol object at 0x1abb415d50>,"[1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, ...",0,0,0,0,0,0.89166
1131,2.4.2.43,C19884,135626350,CCCCCCCCCCC[C@H](CC(=O)N[C@@H]1[C@H]([C@@H]([C...,0,1,<rdkit.Chem.rdchem.Mol object at 0x1abb418990>,"[1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, ...",0,0,0,0,0,0.634954

## Step 7
#### Add in compound features with RDKit
This step uses the RDKit packages to generate descriptive features of the compounds

In [34]:
cpd_data_added_df = create_cpd_info(sample)

KeyError: 0